@use "../1-base/base-mixins";
@use "../1-base/variables";
@use "modules-mixins";

.banner {
  width: 30%;
  height: 20rem;
  position: relative;
  color: variables.$light-color;
  transition: 0.4s;
  @include modules-mixins.center-bg;
  background-size: 100%;

  &:hover {
    background-size: 120%;
  }

  &-cover {
    background-color: variables.$primary-color;
    width: 70%;
    height: 100%;
    opacity: 0.8;
    border-bottom-right-radius: 7rem;
  }

  &-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem;

    h2 {
      font-size: 2.8rem;
      margin-bottom: 1.4rem;
      max-width: 70%;
    }

    a {
      font-size: 1.8rem;
      color: variables.$light-color;
      font-weight: bold;
      display: flex;
      align-items: center;
    }

    i {
      color: variables.$light-color;
      margin-left: 1rem;
    }
  }
}

#banner-1 {
  background-image: url(../../img/banner-1.jpg);
}

#banner-2 {
  background-image: url(../../img/banner-2.jpg);
}

#banner-3 {
  background-image: url(../../img/banner-3.jpg);
}
