@use "../1-base/variables";
@use "../1-base/base-mixins";
@use "layout-mixins";

.header {
  background-color: variables.$bg-color;

  &-top {
    background-color: variables.$secondary-bg-color;
    color: variables.$light-color;

    &-container {
      @include layout-mixins.center-content;
      padding: 1.2rem 0;

      span {
        margin-right: 1.4rem;
      }

      i {
        margin-right: 0.5rem;
      }

      a {
        color: variables.$light-color;
      }
    }
  }
}

.main-header {
  &-container {
    @include layout-mixins.center-content;
    padding: 1.5rem 0;

    a,
    span,
    i {
      color: variables.$light-color;
    }

    #brand {
      font-size: 4rem;
      font-weight: 900;

      i {
        color: variables.$primary-color;
        font-size: 2.8rem;
      }
    }

    #search-form {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45%;

      input {
        height: 4rem;
      }

      #search {
        @include layout-mixins.rounded-input;
        width: 60%;
      }
    }

    .header-actions-menu {
      display: flex;
      align-items: center;

      .wishlist-container,
      .cart-container {
        @include layout-mixins.header-icon;
      }
    }
  }
}

.header-bottom {
  background-color: variables.$light-color;
  border-bottom: 2px solid variables.$section-bg-color;
  border-top: 3px solid variables.$primary-color;

  ul {
    @include layout-mixins.center-content;
    justify-content: left;
    padding: 1.4rem 0;

    li {
      margin-right: 1.8rem;

      a {
        color: variables.$link-color;
        border-bottom: 2px solid transparent;

        &:hover {
          color: variables.$primary-color;
          border-color: variables.$primary-color;
        }
      }
    }
  }
}
