@use "../1-base/base-mixins";
@use "../1-base/variables";
@use "layout-mixins";

.newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  border-top: 2px solid variables.$section-bg-color;

  @include base-mixins.mobile {
    text-align: center;
  }

  h2 {
    font-size: 2.8rem;
    color: variables.$dark-color;
    margin-bottom: 2rem;

    span {
      font-weight: bold;
      font-size: 2.8rem;
      text-transform: uppercase;
    }
  }

  form {
    display: flex;
    margin-bottom: 3rem;

    @include base-mixins.mobile {
      width: 100%;
    }

    input[type="email"] {
      border: 1px solid variables.$section-bg-color;
      @include layout-mixins.rounded-input;

      @include base-mixins.mobile {
        width: 100%;
      }
    }
  }

  .social-media {
    i {
      padding: 1.3rem;
      margin: 0.5rem;
      border: 1px solid variables.$section-bg-color;
      cursor: pointer;
      color: variables.$dark-color;
      transition: 0.4s;

      &:hover {
        color: variables.$primary-color;
        background-color: variables.$section-bg-color;
      }
    }
  }
}
